aiofiles
aiohttp
asyncio
apscheduler
beautifulsoup4
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
jikanpy
httpx-0.28.1
httpcore-1.0.7
motor
numpy
opencv-python
psutil
py-tgcalls==2.0.6
ntgcalls==1.2.3
pykeyboard
python-telegram-bot
python-dotenv
pyyaml
pytz
pydub
requests
speedtest-cli
spotipy
tgcrypto
telethon
unidecode
uvloop
yt-dlp
youtube-search
youtube-search-python
nekos.py
emojis
matplotlib
git+https://github.com/KurimuzonAkuma/pyrogram@dev
